version: '3'
services:
  do:
    image: db-backups
    user: 488:488
    build:
      context: .
    env_file:
      - .env
    volumes:
      - ${PWD}/.backups:/db-backups/backups
      - ${PWD}/.logs:/db-backups/logs
    network_mode: "host"
