#!/bin/sh
PATH="$PATH:/usr/local/bin"
# run with local interpreter
pipenv run python -m src.run <DB_NAME> --handler docker_postgres --container postgres --s3


# run via docker (and upload to S3)
docker-compose up --build
docker-compose run \
  --volume /var/backups:/backups/backups \
  backup python -m src.run <DB_NAME> --handler postgres --container postgres --s3