#!/bin/sh
PATH="$PATH:/usr/local/bin"
DB_NAME="my_db"
# run backup with local interpreter (and upload to S3)
python -m src.run backup "$DB_NAME" --from PG-CONTAINER --container postgres --to S3



# run via docker (and upload to S3)
docker build . -t db-backups
docker run \
  backup "$DB_NAME" --FROM PG-SERVICE --to S3 \
  --rm \
  db-backups
