

YANDEX_TOKEN = ''
YANDEX_BACKUP_DIRECTORY = '/backups/'

MYSQL_DB_USER = 'user'
MYSQL_DP_PASSWORD = 'pass'

MYSQL_DATABASES = []

PG_USER = 'user'
PG_PASSWORD = 'pass'
PG_VERSION = '9.5'
PG_DATABASES = []
PG_HOST = 'localhost'
PG_PORT = '5432'
